<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/header.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&display=swap" rel="stylesheet">
        
        <title>About</title>
    </head>
<body>
    <!-- header section -->
    <header>
        <div>
            <h2>Miguel UI</h2>
            <ul class="navlist">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="about.html">Acerca de mi</a></li>
                <li><a href="project.html">Proyectos</a></li>
                <li><a href="contact.html">Contáctame</a></li>
            </ul>
            <label for="" class="nav-toggle-label">
                <span></span>
            </label>
        </div>
    </header>
    <!-- about me section -->
    <section class="about_me about_me_about">
        <div class="about_me_about_container">
            <div class="about_me_intro">
                <img src="../img/Miguel.png">
                <div class="about_me_p">
                    <h1>Miguel Ruz</h1>
                    <p>
                        Soy Diseñador UI, actualmente vivo en Turbaco-Bolivar, un pueblo a las afueras de Cartagena (Colombia).
                        </p>
                    <p>
                        Me agrada la idea de trabajar en equipo, pienso que es una manera de conectar con nuevas habilidades y de brindar mi conocimiento al equipo con el fin de mejorar la productividad en el desarrollo de algun producto digital. Me gusta descubrir cosas nuevas a diario y ser un activo valioso en cualquier equipo en el que me desarrolle, por lo que estoy aprendiendo constantemente e investigando acerca de las nuevas tendencias.
                        </p>
                    <p>
                        Trato de buscar todo el Feedback posible en los proyectos, con el fin de mejorar y poder hacer diseños que no solo sean atractivos esteticamente sino que sean accesibles y funcionales por lo que me gusta trabajar muy de la mano con los stakeholders.              
                        </p>
                    <p>Hablemos!    </p>
                    <a href="">miguelruz1126@gmail.com</a>
                </div>           
            </div>
            <h2>Mis habilidades</h2>
            <div class="skill_set">
                <div>
                    <img src="../img/device-mobile.svg" alt="" class="">
                    <h2>Responsive design</h2>
                    <p>Con mi experiencia en patrones de diseño responsive tengo una visión clara acerca de como implementarlos de manera efectiva en cualquier proyecto</p>
                </div>
                <div>
                    <img src="../img/code.svg" alt="" class="">
                    <h2>HTML y CSS</h2>
                    <p>Tengo conocimientos basicos y bien fundamentados de html y css, lo que me permite tener un panorama mas claro a la hora de tomar mis decisiones de diseño</p>
                </div>
                <div>
                    <img src="../img/user-add.svg" alt="" class="">
                    <h2>Cooworking</h2>
                    <p>Trato de ser un activo valioso en el equipo que esté trabajando, aportando mis conocimientos y material que optimice el flujo de trabajo en el desarrollo del proyecto </p>
                </div>
                <div>
                    <img src="../img/speakerphone.svg" alt="" class="">
                    <h2>Comunicación</h2>
                    <p>Puedo mantener comunicación  con el equipo de desarrollo, atento a cualquier inquietud que se presente con el fin de llevar el proyecto de manera correcta </p>
                </div>
                <div>
                    <img src="../img/template.svg" alt="" class="">
                    <h2>Sistema de diseño</h2>
                    <p>Tengo manejo de sistemas de diseño, lo cual permite agilidad en el proceso de diseño acortando los tiempos en la creación de las interfaces dentro del proyecto</p>
                </div>
                <div>
                    <img src="..//img/collection.svg" alt="" class="">
                    <h2>Iteración</h2>
                    <p>Soy capaz de iterar recibiendo e interpretando el feedback que me sea proporcionado con el fin de mejorar la calidad del producto que esté diseñandos</p>
                </div>
            </div>
        </div>
    </section>


    <!-- footer section -->
    <section class="footer">
        <div class="footer_container">
            <h2>Miguel UI</h2> 
            <div class="footer_about_me">
                <p>Inicio</p>
                <p>Acerca de mi</p>
                <p>Proyectos</p>
            </div>
            <div>
                <p>Contáctame</p>
                <p>Correo</p>
                <p>LinkedIn</p>
            </div>
            <div class="social">
                <p>Social</p>
                <div class="social_logo">
                    <img src="../img/Behance.svg" alt="">
                    <img src="../img/Linkendl.svg" alt="">
                    <img src="../img/Figma.svg" alt="">
                </div>
            </div>      
        </div>
        <p>&copy; 2021 Miguel Ruz</p>
    </section>
</body>
</html>