<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&display=swap" rel="stylesheet">

    <title>Contact</title>
</head>
<body>
    <!-- nav/header -->
    <header>
        <div>
            <h2>Miguel UI</h2>
            <ul class="navlist">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="about.html">Acerca de mi</a></li>
                <li><a href="project.html">Proyectos</a></li>
                <li><a href="contact.html">Contáctame</a></li>
            </ul>
            <label for="" class="nav-toggle-label">
                <span></span>
            </label>
        </div>
    </header>
    <!-- contact -->
    <section class="contact">
        <div class="contact_container">
            <h1>¡Hablemos!</h1>
            <p>Si estás interesado en mi trabajo o tienes alguna inquietud, no dudes en escribirme!</p>
            <div>
                <form>
                    <label>Tu nombre</label>
                    <input type="text" placeholder="Nombre">
                    <label>Tu E-mail</label>
                    <input type="email" name="email" placeholder="Ejemplo@hotmail.com">
                    <label>Tu mensaje</label>
                    <textarea name="message" id="" cols="30" rows="10" placeholder="Hey..."></textarea>
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </section>

    <!-- footer -->
    <section class="footer">
        <div class="footer_container">
            <h2>Miguel UI</h2> 
                <div class="footer_about_me">
                    <p>Inicio</p>
                    <p>Acerca de mi</p>
                    <p>Proyectos</p>
                </div>
                <div>
                    <p>Contáctame</p>
                    <p>Correo</p>
                    <p>LinkedIn</p>
                </div>
                <div class="social">
                    <p>Social</p>
                    <div class="social_logo">
                        <img src="../img/Behance.svg" alt="">
                        <img src="../img/Linkendl.svg" alt="">
                        <img src="../img/Figma.svg" alt="">
                    </div>
                </div>      
        </div>
        <p>&copy; 2021 Miguel Ruz</p>
    </section>
</body>
</html>