<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&display=swap" rel="stylesheet">
    
    <title>Home</title>
</head>
<body>
    <!-- nav/header -->
    <header>
        <div>
            <h2>Miguel UI</h2>  
            <ul class="navlist">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="about.html">Acerca de mi</a></li>
                <li><a href="project.html">Proyectos</a></li>
                <li><a href="contact.html">Contáctame</a></li>
            </ul>
            <label for="" class="nav-toggle-label">
                <span></span>
            </label>
        </div>
    </header>
    <section class="intro">
        <div>
            <h1>Soy <span>Miguel Ruz.</span> </br> Diseñador UI</h1>
            <p>Este es mi Portafolio web!</p>
            <ul>
                <li><a href="">Ver proyectos</a></li>
                <li><a href=""><img src="../img/download.svg">Descargar CV</a></li>
            </ul>
        </div>
    </section>
    <section class="about_me">
        <div class="index-about">
            <img src="../img/Miguel.png">
            <div class="about_me_p">
                <h1>Acerca de mi</h1>
                <p>
                    Hola! Mi nombre es Miguel y tengo gran afinidad hacía el trabajo colaborativo, me gusta crear diseños que inspiren e involucren a las personas. Como diseñador UI, 
                    considero que un buen producto no solo brinda una solución sino que permite crear una experiencia emocional en las personas que lo usan.    
                    </p>
                <p>
                    En mi proceso creativo utilizo herramientas como Figma, Adobe XD, Photoshop e Illustrator que me ayudan en el flujo de trabajo para la producción de interfaces de usuario.
                    </p>
                <a href="">Mas acerca de mi <img src="../img/viewmore.svg"></a>
            </div>
        </div>
    </section>
    <section class="project">
        <div class="project-intro">
            <h1>Proyectos</h1>
            <img src="../img/project.png" alt="">
            <img src="../img/project.png" alt="">
            <img src="../img/project.png" alt="">
            <img src="../img/project.png" alt="" class="last">
            <a href="#">Ver más en Behance <img src="../img/viewmore.svg" alt=""> </a>
        </div>
    </section>

    <!-- footer -->
    <section class="footer">
        <div class="footer-container">
            <h2>Miguel UI</h2> 
            <div class="footer_about_me">
                <p>Inicio</p>
                <p>Acerca de mi</p>
                <p>Proyectos</p>
            </div>
            <div>
                <p>Contáctame</p>
                <p>Correo</p>
                <p>LinkedIn</p>
            </div>
            <div class="social">
                <p>Social</p>
                <div class="social_logo">
                    <img src="../img/Behance.svg" alt="">
                    <img src="../img/Linkendl.svg" alt="">
                    <img src="../img/Figma.svg" alt="">
                </div>
            </div>      
        </div>
        <p>&copy; 2021 Miguel Ruz</p>
    </section>
</body>
</html>

