<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <title>Project</title>
</head>
<body>
    <!-- nav/header -->
    <header>
        <div>
            <h2>Miguel UI</h2>
            <ul class="navlist">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="about.html">Acerca de mi</a></li>
                <li><a href="project.html">Proyectos</a></li>
                <li><a href="contact.html">Contáctame</a></li>
            </ul>
            <label for="" class="nav-toggle-label">
                <span></span>
            </label>
        </div>
    </header>
    <!-- Project -->
    <section class="project">
        <div class="project_container">
            <h4>Web - Iglesia fuente de poder</h4>
            <h1>Guaía de estilos</h1> 
            <div>               
                <img src="../img/imagen1.png" alt="">        
            </div>
            <div class="about_my_project">
                <h3>Acerca del proyecto</h3>
                <p>
                    La iglesia “Funte de poder” desarrollaba sus actividades de manera presencial en su lugar de reunión habitual, pero con la situación actual que se vive en el mundo, todo se comenzó a virtualizar y con ello los servicios de la iglesia. Esta será una web que permita conocer los medios por los cuales se pueden hacer donaciones a la iglesia para su proyecto de reconstrucción y conocer los detalles del mismo. 
                    </p>
                <p>
                    Mi rol consistió en crear una guía de estilos y aplicarla en la creacion de los Mockups de alta fidelidad.
                    </p>
            </div>      
            <div class="tipography">
                <h3>Tipografía</h3>
                <p>Se difinió que la web será para un publico variado, con distintos gustos y diferentes edades, por lo que se escogió una tipografia san serif, elegante y simple, con el fin de que sea legible por todos los usuarios en sus distintas escalas. </p>
                <p>Esta tipografía está disponible de forma gratuita en <a href="#">Google fonts.</a></p>
                <img src="../img/imagen2.png" alt="">
            </div>
            <div class="color_palette">
                <h3>Paleta de colores</h3>
                <p>La elección de los colores se hizo en base al isologotipo de la iglesia, tomando sus colores principales y sus distintas intensidades. Eso con el fin de seguir una misma linea entre su identidad grafica y lo que será la web.</p>
                <img src="../img/imagen3.png" alt="">
                <img src="../img/imagen4.png" alt="">
            </div>
            <div>
                <h3>Botones</h3>
                <p>Los botones en sus diferentes escalas, tanto para movil como para escritorio.</p>       
                <img src="../img/imagen5.png" alt="">
            </div>
        </div>
    </section>

    <!-- footer -->
    <section class="footer logo">   
        <div class="footer_container">
            <h2>Miguel UI</h2> 
                <div class="footer_about_me">
                    <p>Inicio</p>
                    <p>Acerca de mi</p>
                    <p>Proyectos</p>
                </div>
                <div>
                    <p>Contáctame</p>
                    <p>Correo</p>
                    <p>LinkedIn</p>
                </div>
                <div class="social">
                    <p>Social</p>
                    <div class="social_logo">
                        <img src="../img/Behance.svg" alt="">
                        <img src="../img/Linkendl.svg" alt="">
                        <img src="../img/Figma.svg" alt="">
                    </div>
                </div>      
        </div>
        <p>&copy; 2021 Miguel Ruz</p>
    </section>
</body>
</html>